# PyCity Schools Analysis

In [2]:
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Total number of unique schools
unique_schools = school_data_complete["school_name"].unique()
school_count = len(unique_schools)
school_count

15

In [4]:
# Total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [5]:
# Total budget
unique_budget = school_data_complete["budget"].unique()
unique_budget_df = pd.DataFrame(unique_budget)
total_budget = unique_budget_df[0].sum()
total_budget

24649428

In [6]:
# Avg math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
# Avg reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [8]:
# Percentage of students who passed math
pass_math_df = school_data_complete.loc[school_data_complete["math_score"] > 69]
pass_math_count = pass_math_df["student_name"].count()
pass_math_percent = pass_math_count/student_count * 100
pass_math_percent

74.9808526933878

In [9]:
# Percentage of students who passed reading
pass_read_df = school_data_complete.loc[school_data_complete["reading_score"] > 69]
pass_read_count = pass_read_df["student_name"].count()
pass_read_percent = pass_read_count/student_count * 100
pass_read_percent

85.80546336482001

In [10]:
# Percentage of students who passed both math and reading
pass_both_df = school_data_complete.loc[school_data_complete["math_score"] > 69] + school_data_complete.loc[school_data_complete["reading_score"] > 69]
pass_both_count = pass_both_df["student_name"].count()
pass_both_percent = pass_both_count/student_count * 100
pass_both_percent

65.17232575950983

In [11]:
# Create dataframe called District Summary
district_summary_df = pd.DataFrame({"Total Number of School": school_count, "Total Number of Student": student_count, "Total Budget": total_budget, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score, "Percentage of Students who Passed Math": pass_math_percent, "Percentage of Students who Passed Reading": pass_read_percent, "Percentage of Students who Passed Both": pass_both_percent})
dsitrict_summary_df

TypeError: 'type' object is not subscriptable

## School Summary

In [13]:
# School type by school name
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
#Total student by school name
per_school_counts = school_data_complete.groupby(["school_name"]).count()["student_name"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [18]:
# Total school budget by school name and per captia budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [19]:
# Total budget per captia
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [24]:
# Avg math score
avg_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [36]:
# Avg reading score
avg_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [37]:
# Percentage of students who passed math per school
pass_math_school_df = pass_math_df.groupby(["school_name"])
pass_math_count = pass_math_school_df["school_name"].count()
pass_math_school_percent = pass_math_count/per_school_counts * 100
pass_math_school_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [39]:
# Percentage of students who passed reading per school
pass_read_school_df = pass_read_df.groupby(["school_name"])
pass_read_count = pass_read_school_df["school_name"].count()
pass_read_school_percent = pass_read_count/per_school_counts * 100
pass_read_school_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [47]:
# Percentage of students who passed both per school
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [49]:
# Create dataframe called per school summary
per_school_summary_df = pd.DataFrame({"School Type": school_types, "Total Students": per_school_counts,"Totatl School Budget": per_school budget, "Per Student Budget":per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score, "% Passing Math": pass_math_school_percent, "% Passing Reading": pass_read_school_percent, "% Overall Passing": overall_passing_rate})

per_school_summary["School Type"] = per_school_summary["School Type"].map("${:,.2f}".format)
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("${:,.2f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("${:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("${:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("${:,.2f}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("${:,.2f}".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("${:,.2f}".format)

per_school_summary_df

SyntaxError: invalid syntax (3653314411.py, line 2)

## Highest Performing Schools (by % Overall Passing)