# PyCity Schools Analysis

In [1]:
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [6]:
# Total number of unique schools
unique_schools = school_data_complete["school_name"].unique()
school_count = len(unique_schools)
school_count

15

In [7]:
# Total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [10]:
# Total budget
unique_budget = school_data_complete["budget"].unique()
unique_budget_df = pd.DataFrame(unique_budget)
total_budget = unique_budget_df[0].sum()
total_budget

24649428

In [11]:
# Avg math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [12]:
# Avg reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [14]:
# Percentage of students who passed math
pass_math_df = school_data_complete.loc[school_data_complete["math_score"] > 69]
pass_math_count = pass_math_df["student_name"].count()
pass_math_percent = pass_math_count/student_count * 100
pass_math_percent

74.9808526933878

In [15]:
# Percentage of students who passed reading
pass_read_df = school_data_complete.loc[school_data_complete["reading_score"] > 69]
pass_read_count = pass_read_df["student_name"].count()
pass_read_percent = pass_read_count/student_count * 100
pass_read_percent

85.80546336482001

In [ ]:
# Percentage of students who passed both math and reading
pass_both_df = school_data_complete.loc[school_data_complete["math_score"] > 69] + school_data_complete.loc[school_data_complete["reading_score"] > 69]
pass_both_count = pass_both_df["student_name"].count()
pass_both_percent = pass_both_count/student_count * 100
pass_both_percent

In [21]:
# Create dataframe called District Summary
district_summary_df = pd.DataFrame({"Total Number of School": school_count, "Total Number of Student": student_count, "Total Budget": total_budget, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score, "Percentage of Students who Passed Math": pass_math_percent, "Percentage of Students who Passed Reading": pass_read_percent, "Percentage of Students who Passed Both": pass_both_percent})
dsitrict_summary_df

ValueError: If using all scalar values, you must pass an index

## School Summary