# PyCity Schools Analysis

In [8]:
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [9]:
# Total number of unique schools
unique_schools = school_data_complete["school_name"].unique()
school_count = len(unique_schools)
school_count

15

In [10]:
# Total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [11]:
# Total budget
unique_budget = school_data_complete["budget"].unique()
unique_budget_df = pd.DataFrame(unique_budget)
total_budget = unique_budget_df[0].sum()
total_budget

24649428

In [12]:
# Avg math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [13]:
# Avg reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [14]:
# Percentage of students who passed math
pass_math_df = school_data_complete.loc[school_data_complete["math_score"] > 69]
pass_math_count = pass_math_df["student_name"].count()
pass_math_percent = pass_math_count/student_count * 100
pass_math_percent

74.9808526933878

In [15]:
# Percentage of students who passed reading
pass_read_df = school_data_complete.loc[school_data_complete["reading_score"] > 69]
pass_read_count = pass_read_df["student_name"].count()
pass_read_percent = pass_read_count/student_count * 100
pass_read_percent

85.80546336482001

In [16]:
# Percentage of students who passed both math and reading
pass_both_df = school_data_complete.loc[school_data_complete["math_score"] > 69] + school_data_complete.loc[school_data_complete["reading_score"] > 69]
pass_both_count = pass_both_df["student_name"].count()
pass_both_percent = pass_both_count/student_count * 100
pass_both_percent

65.17232575950983

In [17]:
# Create dataframe called District Summary
district_summary_df = pd.DataFrame({"Total Number of School": school_count, "Total Number of Student": student_count, "Total Budget": total_budget, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score, "Percentage of Students who Passed Math": pass_math_percent, "Percentage of Students who Passed Reading": pass_read_percent, "Percentage of Students who Passed Both": pass_both_percent})
dsitrict_summary_df

ValueError: If using all scalar values, you must pass an index

## School Summary

In [18]:
# School type by school name
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [19]:
#Total student by school name
per_school_counts = school_data_complete.groupby(["school_name"]).count()["student_name"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [20]:
# Total school budget by school name and per captia budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [21]:
# Total budget per captia
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [22]:
# Avg math score
avg_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
# Avg reading score
avg_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
# Percentage of students who passed math per school
pass_math_school_df = pass_math_df.groupby(["school_name"])
pass_math_count = pass_math_school_df["school_name"].count()
pass_math_school_percent = pass_math_count/per_school_counts * 100
pass_math_school_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [25]:
# Percentage of students who passed reading per school
pass_read_school_df = pass_read_df.groupby(["school_name"])
pass_read_count = pass_read_school_df["school_name"].count()
pass_read_school_percent = pass_read_count/per_school_counts * 100
pass_read_school_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [26]:
# Percentage of students who passed both per school
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [41]:
# Create dataframe called per school summary
per_school_summary_df = pd.DataFrame({"School Type": school_types, "Total Students": per_school_counts, "Total School Budget": per_school budget, "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score, "% Passing Math": pass_math_school_percent, "% Passing Reading": pass_read_school_percent, "% Overall Passing": overall_passing_rate})

per_school_summary["School Type"] = per_school_summary["School Type"].map("${:,.2f}".format)
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("${:,.2f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("${:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("${:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("${:,.2f}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("${:,.2f}".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("${:,.2f}".format)

per_school_summary_df

SyntaxError: invalid syntax (213850303.py, line 2)

# Highest Performing Schools (by % Overall Passing)

In [28]:
# Dataframe with top 5 schools
top_schools_df = per_school_summmary_df.sort_values(by=["% Overall Passing"], ascending=False)
top_schools_df.head(5)

NameError: name 'per_school_summmary_df' is not defined

## Lowest Performing Schools (by % Overall Passing)

In [5]:
# Dataframe with bottom 5 schools
bottom_schools_df = per_school_summmary_df.sort_values(by=["% Overall Passing"], ascending=True)
bottom_schools_df.head(5)

NameError: name 'per_school_summmary_df' is not defined

## Math Scores by Grade

In [35]:
grade_school_groupby_df = school_data_complete.groupby(["grade", "school_name"])
math_scores_by_grade = grade_school_groupby_df["math_score"].mean()
math_scores_by_grade

grade  school_name
10th   Bailey High School       76.996772
       Cabrera High School      83.154506
       Figueroa High School     76.539974
       Ford High School         77.672316
       Griffin High School      84.229064
       Hernandez High School    77.337408
       Holden High School       83.429825
       Huang High School        75.908735
       Johnson High School      76.691117
       Pena High School         83.372000
       Rodriguez High School    76.612500
       Shelton High School      82.917411
       Thomas High School       83.087886
       Wilson High School       83.724422
       Wright High School       84.010288
11th   Bailey High School       77.515588
       Cabrera High School      82.765560
       Figueroa High School     76.884344
       Ford High School         76.918058
       Griffin High School      83.842105
       Hernandez High School    77.136029
       Holden High School       85.000000
       Huang High School        76.446602
       Johnson High School      77.491653
       Pena High School         84.328125
       Rodriguez High School    76.395626
       Shelton High School      83.383495
       Thomas High School       83.498795
       Wilson High School       83.195326
       Wright High School       83.836782
12th   Bailey High School       76.492218
       Cabrera High School      83.277487
       Figueroa High School     77.151369
       Ford High School         76.179963
       Griffin High School      83.356164
       Hernandez High School    77.186567
       Holden High School       82.855422
       Huang High School        77.225641
       Johnson High School      76.863248
       Pena High School         84.121547
       Rodriguez High School    77.690748
       Shelton High School      83.778976
       Thomas High School       83.497041
       Wilson High School       83.035794
       Wright High School       83.644986
9th    Bailey High School       77.083676
       Cabrera High School      83.094697
       Figueroa High School     76.403037
       Ford High School         77.361345
       Griffin High School      82.044010
       Hernandez High School    77.438495
       Holden High School       83.787402
       Huang High School        77.027251
       Johnson High School      77.187857
       Pena High School         83.625455
       Rodriguez High School    76.859966
       Shelton High School      83.420755
       Thomas High School       83.590022
       Wilson High School       83.085578
       Wright High School       83.264706
Name: math_score, dtype: float64

In [36]:
math_scores_by_grade_df = pd.DataFrame({"Average Math Score": math_scores_by_grade})
math_scores_by_grade_df["Average Math Score"] = math_scores_by_grade_df["Average Math Score"].map("{:,.2f}".format)
math_scores_by_grade_df

                            Average Math Score
grade school_name
10th  Bailey High School                 77.00
      Cabrera High School                83.15
      Figueroa High School               76.54
      Ford High School                   77.67
      Griffin High School                84.23
      Hernandez High School              77.34
      Holden High School                 83.43
      Huang High School                  75.91
      Johnson High School                76.69
      Pena High School                   83.37
      Rodriguez High School              76.61
      Shelton High School                82.92
      Thomas High School                 83.09
      Wilson High School                 83.72
      Wright High School                 84.01
11th  Bailey High School                 77.52
      Cabrera High School                82.77
      Figueroa High School               76.88
      Ford High School                   76.92
      Griffin High School                83.84
      Hernandez High School              77.14
      Holden High School                 85.00
      Huang High School                  76.45
      Johnson High School                77.49
      Pena High School                   84.33
      Rodriguez High School              76.40
      Shelton High School                83.38
      Thomas High School                 83.50
      Wilson High School                 83.20
      Wright High School                 83.84
12th  Bailey High School                 76.49
      Cabrera High School                83.28
      Figueroa High School               77.15
      Ford High School                   76.18
      Griffin High School                83.36
      Hernandez High School              77.19
      Holden High School                 82.86
      Huang High School                  77.23
      Johnson High School                76.86
      Pena High School                   84.12
      Rodriguez High School              77.69
      Shelton High School                83.78
      Thomas High School                 83.50
      Wilson High School                 83.04
      Wright High School                 83.64
9th   Bailey High School                 77.08
      Cabrera High School                83.09
      Figueroa High School               76.40
      Ford High School                   77.36
      Griffin High School                82.04
      Hernandez High School              77.44
      Holden High School                 83.79
      Huang High School                  77.03
      Johnson High School                77.19
      Pena High School                   83.63
      Rodriguez High School              76.86
      Shelton High School                83.42
      Thomas High School                 83.59
      Wilson High School                 83.09
      Wright High School                 83.26

## Reading Scores by Grade

In [29]:
grade_school_groupby_df = school_data_complete.groupby(["grade", "school_name"])
read_scores_by_grade = grade_school_groupby_df["reading_score"].mean()
read_scores_by_grade

grade  school_name
10th   Bailey High School       80.907183
       Cabrera High School      84.253219
       Figueroa High School     81.408912
       Ford High School         81.262712
       Griffin High School      83.706897
       Hernandez High School    80.660147
       Holden High School       83.324561
       Huang High School        81.512386
       Johnson High School      80.773431
       Pena High School         83.612000
       Rodriguez High School    80.629808
       Shelton High School      83.441964
       Thomas High School       84.254157
       Wilson High School       84.021452
       Wright High School       83.812757
11th   Bailey High School       80.945643
       Cabrera High School      83.788382
       Figueroa High School     80.640339
       Ford High School         80.403642
       Griffin High School      84.288089
       Hernandez High School    81.396140
       Holden High School       83.815534
       Huang High School        81.417476
       Johnson High School      80.616027
       Pena High School         84.335938
       Rodriguez High School    80.864811
       Shelton High School      84.373786
       Thomas High School       83.585542
       Wilson High School       83.764608
       Wright High School       84.156322
12th   Bailey High School       80.912451
       Cabrera High School      84.287958
       Figueroa High School     81.384863
       Ford High School         80.662338
       Griffin High School      84.013699
       Hernandez High School    80.857143
       Holden High School       84.698795
       Huang High School        80.305983
       Johnson High School      81.227564
       Pena High School         84.591160
       Rodriguez High School    80.376426
       Shelton High School      82.781671
       Thomas High School       83.831361
       Wilson High School       84.317673
       Wright High School       84.073171
9th    Bailey High School       81.303155
       Cabrera High School      83.676136
       Figueroa High School     81.198598
       Ford High School         80.632653
       Griffin High School      83.369193
       Hernandez High School    80.866860
       Holden High School       83.677165
       Huang High School        81.290284
       Johnson High School      81.260714
       Pena High School         83.807273
       Rodriguez High School    80.993127
       Shelton High School      84.122642
       Thomas High School       83.728850
       Wilson High School       83.939778
       Wright High School       83.833333
Name: reading_score, dtype: float64

In [32]:
read_scores_by_grade_df = pd.DataFrame({"Average Reading Score": read_scores_by_grade})
read_scores_by_grade_df["Average Reading Score"] = read_scores_by_grade_df["Average Reading Score"].map("{:,.2f}".format)
read_scores_by_grade_df

                            Average Reading Score
grade school_name
10th  Bailey High School                    80.91
      Cabrera High School                   84.25
      Figueroa High School                  81.41
      Ford High School                      81.26
      Griffin High School                   83.71
      Hernandez High School                 80.66
      Holden High School                    83.32
      Huang High School                     81.51
      Johnson High School                   80.77
      Pena High School                      83.61
      Rodriguez High School                 80.63
      Shelton High School                   83.44
      Thomas High School                    84.25
      Wilson High School                    84.02
      Wright High School                    83.81
11th  Bailey High School                    80.95
      Cabrera High School                   83.79
      Figueroa High School                  80.64
      Ford High School                      80.40
      Griffin High School                   84.29
      Hernandez High School                 81.40
      Holden High School                    83.82
      Huang High School                     81.42
      Johnson High School                   80.62
      Pena High School                      84.34
      Rodriguez High School                 80.86
      Shelton High School                   84.37
      Thomas High School                    83.59
      Wilson High School                    83.76
      Wright High School                    84.16
12th  Bailey High School                    80.91
      Cabrera High School                   84.29
      Figueroa High School                  81.38
      Ford High School                      80.66
      Griffin High School                   84.01
      Hernandez High School                 80.86
      Holden High School                    84.70
      Huang High School                     80.31
      Johnson High School                   81.23
      Pena High School                      84.59
      Rodriguez High School                 80.38
      Shelton High School                   82.78
      Thomas High School                    83.83
      Wilson High School                    84.32
      Wright High School                    84.07
9th   Bailey High School                    81.30
      Cabrera High School                   83.68
      Figueroa High School                  81.20
      Ford High School                      80.63
      Griffin High School                   83.37
      Hernandez High School                 80.87
      Holden High School                    83.68
      Huang High School                     81.29
      Johnson High School                   81.26
      Pena High School                      83.81
      Rodriguez High School                 80.99
      Shelton High School                   84.12
      Thomas High School                    83.73
      Wilson High School                    83.94
      Wright High School                    83.83

## Scores by School Spending

## Scores by School Size

## Scores by School Type